[Unit]
Description=Steam Headless Server
PartOf=steam.target

[Container]
Image=steam.image
Network=host
EnvironmentFile=/usr/lib/steam-headless/config.env
EnvironmentFile=/etc/steam-headless/config.env
Volume=/var/lib/steam-headless:/etc/wolf:rw
Volume=/tmp/steam-headless/sockets:/tmp/sockets:rw
Volume=/dev:/dev:rw
Volume=/run/udev:/run/udev:rw
AddDevice=/dev/dri
AddDevice=/dev/uinput
AddDevice=/dev/uhid

[Service]
Restart=always